$is-hover__link-bg-width: 2px;
.is-hover__link {
  background-position: bottom center;
  transition: background-size .2s;
  @include horizontal-bg-line($is-hover__link-bg-width, 0);
  
  &:hover {
    text-decoration: none;
    @include horizontal-bg-line($is-hover__link-bg-width, 100%);
  }
}

@mixin is-hover__link($width: $is-hover__link-bg-width, $color: currentColor, $length: 0, $hover-length: 100%) {
  background-position: bottom center;
  transition: background-size .2s;
  @include horizontal-bg-line($width, $length);
  
  &:hover {
    text-decoration: none;
    @include horizontal-bg-line($width, $hover-length, $color);
  }
}