.menu-link {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1.5px solid;
  border-color: transparent;
  color: $link-color;
  background-color: $body-bg;
  transition: border-color 0.1s;

  &:hover,
  &--active {
    border-color: currentColor;
    text-decoration: none;
  }

  @each $color-name, $color in $theme-colors {
    &--#{$color-name} {
      $trans-color: color-yiq($color);
      color: $color;
      border-color: $trans-color;
      &:hover, &.menu-link--active {
        color: darken($color, 25%);
        border-color: $white;
      }
    }
  }
}

button.menu-link {
  border-top: none;
  border-left: none;
  border-right: none;
}