.parallax {
  $show-window-height: 670px;
  position: relative;

  &__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__show-window {
    display: block;
    position: relative;
    z-index: 100;
    height: $show-window-height;
    background-color: transparent;
  }

  &__scroll {
    position: relative;
    z-index: 100;
    background-color: $body-bg;
  }

  @include media-breakpoint-down(lg) {
    &__show-window {
      height: $show-window-height * 0.8;
    }
  }
  @include media-breakpoint-down(md) {
    &__show-window {
      height: $show-window-height * 0.6;
    }
  }
}
