.select {
  position: relative;
  display: inline-block;
  color: $select-color;
  background-color: $select-bg;
  cursor: pointer;
  user-select: none;

  &__content {
    @include select-content;

    position: relative;
    border: $select-border-width solid $select-border-color;
  }

  &__icon {
    @include select-icon;
    transform: rotate(135deg);
    transform-origin: 50% 50%;
    transition: transform 0.2s ease;
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    z-index: $zindex-dropdown;
    background-color: color-yiq($select-bg);
  }

  &__list-item {
    @include select-list-item;

    display: block;
    background-color: transparent;
    color: $dark;
    cursor: pointer;

    &--active,
    &:hover {
      color: $black;
      background-color: darken(color-yiq($select-bg), 20%);
      background-clip: border-box;
    }
  }

  &--active,
  &:hover {
    color: color-yiq($select-color);
    background-color: color-yiq($select-bg);

    .select__icon {
      border-color: $dark;
    }
  }

  &--active {
    .select__icon {
      @include select-icon-active;
    }
  }
}

.select--lg {
  .select__content {
    @include select-content(
      $select-padding-x-lg,
      $select-padding-y-lg,
      $select-font-size-lg
    );
  }
  .select__list-item {
    @include select-list-item(
      $select-padding-x-lg,
      $select-padding-y-lg,
      $select-font-size-lg
    );
  }
  .select__icon {
    @include select-icon(
      $select-padding-x-lg,
      $select-color,
      $select-font-size-lg
    );
  }
}
