.swiper {
  // nav-el vars
  $nav-el-top: calc(50% - #{$circle-btn-size} / 2);
  $nav-el-x: 10px;
  $nav-img-color: $dark;
  $nav-img-hover-color: $white;

  &-container {
    padding: 0 map-get($spacers, 5);
  }

  &-slide {
    width: auto;
  }

  &__pagination {
    &-bullets {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 10px 0;
    }

    &-item {
      $size: 10px;
      @include circle($size);
      @include teaser($shadow, 1.3) {
        @include circle($size);
      }
      display: inline-block;
      margin: 0 $size / 2;
      cursor: pointer;

      &::before {
        @include circle($size);
      }
      &--active {
        background-color: $white;

        &:hover {
          background-color: $white;
        }
      }
    }
  }

  // nav-el
  &__pre-el {
    @include circle($circle-btn-size);
    position: absolute;
    z-index: 10;
    top: $nav-el-top;
    left: $nav-el-x;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $nav-img-color;
      clip-path: polygon(55% 30%, 60% 30%, 40% 50%, 60% 70%, 55% 70%, 35% 50%);
    }

    &:hover {
      transform: scale(.85);
      &::before {
        background-color: $nav-img-hover-color;
      }
    }

    &:active,
    &.active {
      transform: scale(.85);
      &::before {
        background-color: $nav-img-color;
        @include media-breakpoint-ipad {
          background-color: $nav-img-hover-color;
        }
      }
    }
  }
  &__next-el {
    @extend .swiper__pre-el;
    left: auto;
    right: $nav-el-x;

    &::before {
      clip-path: polygon(45% 30%, 40% 30%, 60% 50%, 40% 70%, 45% 70%, 65% 50%);
    }
  }
}
