@mixin teaser($bg-color: $shadow, $active-size: 1.2) {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $bg-color;
    transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
      background-color 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  &:hover::before,
  &--active::before {
    transform: scale($active-size);
  }
}
