body {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
  li ~ li {
    padding-left: $spacer;
  }
}

a {  
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}