html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

ul {
  margin-left: -$spacer / 2;;
  margin-right: -$spacer / 2;;
  padding-left: 0;
  // list-style: none;
  list-style-position: inside;

  li {
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
  }
}
