// colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$dark: $black;
$primary: $white;
$secondary: $gray-500;
$light: $white;
$bright: $gray-800;
$shadow: #1d1d1d;
$light-shadow: #f0f0f0;

$colors: (
  'black': $black,
);

$theme-colors: (
  'shadow': $shadow,
  'light': $light,
  'bright': $bright,
  'light-shadow': $light-shadow,
);

// font size
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$font-sizes: (
  'sm': $font-size-sm,
  'md': $h6-font-size,
  'lg': $h5-font-size,
  'xl': $h4-font-size,
  'xxl': $h3-font-size,
);

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600;
$font-weight-bolder: bolder !default;

// spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.25,
  6: $spacer * 3,
);

// Body
//
// Settings for the `<body>` element.
$body-bg: $dark;
$body-color: $white;

$component-active-bg: $primary;
$border-width: 1px !default;

$link-color: $primary;
$link-hover-color: currentColor;

// Grid
$grid-breakpoints: (
  min: 0,
  xxs: 375px,
  xs: 414px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 570px,
  md: 752px,
  lg: 966px,
  xl: 1174px,
  xxl: 1414px,
);

$grid-gutter-width: $spacer * 3;

$hr-border-color: $secondary;

$navbar-padding-x: $spacer * 3 / 2;

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-focus-box-shadow: none;
$input-btn-border-width: $border-width !default;
$input-btn-font-size: $font-size-base !default;

// $input-btn-padding-y-sm:      .25rem !default;
// $input-btn-padding-x-sm:      .5rem !default;
// $input-btn-font-size-sm:      $font-size-sm !default;
// $input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-font-size-lg: $font-size-lg !default;
// $input-btn-line-height-lg:    $line-height-lg !default;

$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-x !default;
$input-bg: $body-bg;
$input-color: $white;
$input-border-color: $primary;
$input-border-width: $input-btn-border-width !default;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-placeholder-color: $primary;
$input-font-size: $input-btn-font-size !default;

// $input-padding-y-sm: $input-btn-padding-y-sm !default;
// $input-padding-x-sm: $input-btn-padding-x-sm !default;
// $input-font-size-sm: $input-btn-font-size-sm !default;
// $input-line-height-sm: $input-btn-line-height-sm !default;

$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;
// $input-line-height-lg: $input-btn-line-height-lg !default;

$select-padding-y: $input-padding-y;
$select-padding-x: $input-padding-x;
$select-bg: $input-bg;
$select-color: $input-color;
$select-border-width: $input-border-width;
$select-border-color: $input-border-color;
$select-border-redius: $input-border-radius;
$select-font-size: $input-font-size;

$select-padding-y-lg: $input-padding-y-lg;
$select-padding-x-lg: $input-padding-x-lg;
$select-font-size-lg: $input-font-size-lg;

$btn-font-size: inherit;
$btn-font-weight: inherit;
$btn-border-width: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-white-space: null;

$breadcrumb-font-size: null !default;
$breadcrumb-padding-y: 0.75rem !default;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 0.5rem !default;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: $light;
$breadcrumb-divider-color: $dark;
$breadcrumb-active-color: $bright;
$breadcrumb-divider: quote('>') !default;
$breadcrumb-border-radius: 0;

$card-spacer-y: $spacer * 1.5;
$card-spacer-x: $spacer * 1.5;
$card-border-width: 0;
$card-border-radius: 0;
$card-bg: $shadow;

$nav-item-padding-y: 0;
$nav-item-padding-x: $spacer;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;

$alert-border-radius: 0;

$circle-btn-size: 50px;

// options
$enable-shadows: false;
$enable-responsive-font-sizes: true;
