// colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$dark: $black;
$primary: $white;
$secondary: $gray-500;
$light: $white;
$bright: $gray-800;
$shadow: #1d1d1d;

$colors: (
  'black': $black,
);

$theme-colors: (
  'shadow': $shadow,
  'light': $light,
  'bright': $bright
);

// font size
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  'sm': $font-size-sm,
  'md': $h6-font-size,
  'lg': $h5-font-size,
  'xl': $h4-font-size,
  'xxl': $h3-font-size,
);

// spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.25,
  6: $spacer * 3,
);

// Body
//
// Settings for the `<body>` element.
$body-bg: $dark;
$body-color: $white;

$component-active-bg: $primary;

$link-color: $primary;
$link-hover-color: currentColor;

// Grid
$grid-breakpoints: (
  min: 0,
  xxs: 375px,
  xs: 414px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 570px,
  md: 752px,
  lg: 966px,
  xl: 1174px,
  xxl: 1414px,
);

$grid-gutter-width: $spacer * 3;

$navbar-padding-x: $spacer * 3 / 2;

$input-bg: $body-bg;
$input-color: $white;
$input-border-color: $primary;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-placeholder-color: $primary;

$input-btn-focus-box-shadow: none;

$btn-font-size: inherit;
$btn-font-weight: inherit;
$btn-border-width: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-white-space: nowrap;


$breadcrumb-font-size:              null !default;
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     $light;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote(">") !default;
$breadcrumb-border-radius:          0;

$card-spacer-y: $spacer * 1.5;
$card-spacer-x: $spacer * 1.5;
$card-border-radius: 0;
$card-bg: $shadow;

$circle-btn-size: 50px;

// options
$enable-shadows: false;
$enable-responsive-font-sizes: true;
