.p-index {
  .swiper-slide {
    img {
      max-height: 500px;
      object-fit: contain;

      @include media-breakpoint-down(md) {
        & {
          max-height: 400px;
        }
      }
    }
  }

  .card {
    @include teaser($shadow, 1.08);

    .card-img {
      height: 315px;
      width: 100%;

      img {
        @include object-cover;
      }
    }

    @include media-breakpoint-down(lg) {
      .card-img {
        height: 270px;
      }
    }
    @include media-breakpoint-down(md) {
      .card-img {
        height: 230px;
      }
    }
  }
}
