.l-banner {
  @include bg-cover;

  &__outer {
    $padding-y: map-get($spacers, 5);
    
    @include make-container();
    @include make-container-max-widths();

    padding-top: $padding-y;
    padding-bottom: $padding-y;
    padding-left: $padding-y * 2;
    padding-right: $padding-y * 2;
    
    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 0;
    }
  }
  
  &__inner {
    padding: map-get($spacers, 5);
    background-color: $white;
    color: #000;

    @include media-breakpoint-down(lg) {
      padding: map-get($spacers, 5) / 2;
    }
  }
}
