.l-header {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;

  &__toggle {
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__navbar-collapse {
    position: relative;
    z-index: $zindex-sticky;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      
      .menu-link {
        display: block;
        border-bottom: 1px solid $light;
      }
    }
  }

  &__sub-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: $zindex-sticky;
  }
}
